@model PagedListModel<BillJobDetailModel, BillJobFilterModel>

@{
    ViewData["Title"] = "Home Page";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
    int pageSize = ViewBag.PageSize ?? 10;
}

<div class="card mb-4">
    <div class="card-header">
        <a class="btn btn-link text-decoration-none" data-bs-toggle="collapse" href="#searchPanel" role="button" aria-expanded="false" aria-controls="searchPanel">
            <i class="fa-solid fa-filter"></i> ค้นหาบิล
        </a>
    </div>
    <div class="collapse show" id="searchPanel">
        <div class="card-body">
            <form id="searchForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ddlJobGroup">เลือกประเภทงาน</label>
                            <select id="ddlJobGroup" name="ddlJobGroup" class="form-control" style="width: 100%">
                                <option value="">-- เลือก ประเภทงาน --</option>
                                @if (ViewBag.JobGroupList != null)
                                {
                                    foreach (var item in ViewBag.JobGroupList)
                                    {
                                        <option value='{"jobNum":"@item.JobNum","jobtype":"@item.Jobtype"}'>@item.JobName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ddlEmp">เลือกชื่อช่าง</label>
                            <select id="ddlEmp" name="ddlEmp" class="form-control" style="width: 100%" disabled>
                                <option value="">-- เลือก ช่าง --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ddlBillCondion">เลือกอาการ</label>
                            <select id="ddlBillCondion" name="ddlBillCondion" class="form-control" style="width: 100%">
                                <option value="">-- เลือก อาการ --</option>
                                @if (ViewBag.JobBillConditionList != null)
                                {
                                    foreach (var item in ViewBag.JobBillConditionList)
                                    {
                                        <option value="@item.IdNo">(@item.IdNo) @item.Detail</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="revDate">วันที่เริ่ม</label>
                                <input id="dtStart" name="dtStart" type="date" class="form-control" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="revDate">วันที่สิ้นสุด</label>
                            <input id="dtEnd" name="dtEnd" type="date" class="form-control" value="">
                        </div>
                    </div>
                </div>
                <div class="row mt-3 d-flex justify-content-end">
                    <div class="col-md-9">
                        <div class="form-group d-flex justify-content-end">
                            <label>&nbsp;</label>
                            <div class="btn-group d-block">
                                <button type="button" id="clearBtn" class="btn btn-secondary">
                                    <i class="fa-solid fa-xmark"></i> ล้าง
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i> ค้นหา
                                </button>
                            </div>
                            <label>&nbsp;</label>
                            <button type="button" id="btnPrintPDF" class="btn btn-danger">
                                <i class="fa-solid fa-file-pdf"></i> Print PDF
                            </button>
                            <label>&nbsp;</label>
                            <button type="button" id="btnDownloadExcel" class="btn btn-success">
                                <i class="fa-solid fa-file-excel"></i> Export Excel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="billjob-list">
    @await Html.PartialAsync("_BillJobPartial", Model.Data.Items)
</div>

<div id="pagination-container">
    @await Html.PartialAsync("_PaginationPartial", Model)
</div>


@section Scripts {
    <script>
        let currentPage = @Html.Raw(currentPage);
        let currentPageSize = @Html.Raw(pageSize);
        let jobNum = 0;
        let jobtype = 0;
        let today = new Date();
        let yyyy = today.getFullYear();
        let mm = String(today.getMonth() + 1).padStart(2, '0');
        let dd = String(today.getDate()).padStart(2, '0');
        let formattedToday = `${yyyy}-${mm}-${dd}`;

        $(document).ready(function () {
            $('#dtStart').val(formattedToday);
            $('#dtEnd').val(formattedToday);

            $('#ddlJobGroup').select2({
                placeholder: "-- เลือก ประเภทงาน --",
                width: '100%'
            });

            $('#ddlEmp').select2({
                placeholder: "-- เลือก ช่าง --",
                width: '100%'
            });

            $('#ddlBillCondion').select2({
                placeholder: "-- เลือก อาการ --",
                width: '100%'
            });

            $('#ddlJobGroup').on('change', function () {
                getTempProfile();
            });

            $('#searchForm').on('submit', function(e) {
                e.preventDefault();
                searchBillJob(1, currentPageSize);
            });

            $('#searchForm').trigger('submit');

            $('#clearBtn').on('click', function () {
                clearSearch();
            });

            $(document).on('change', '#pageSize', function() {
                currentPageSize = $(this).val();
                searchBillJob(1, currentPageSize);
            });

            $(document).on('click', '.page-link[data-page]', function(e) {
                e.preventDefault();
                let page = $(this).data('page');
                searchBillJob(page, currentPageSize);
            });

            $('#btnDownloadExcel').on('click', function () {
                $('#loadingIndicator').show();

                (async function () {

                    let ddlVal = $('#ddlJobGroup').val();
                    if (ddlVal) {
                        let jobData = JSON.parse(ddlVal);
                        jobNum = jobData.jobNum;
                        jobtype = jobData.jobtype;
                    }

                    let empCode = $('#ddlEmp').val();
                    let billCondion = $('#ddlBillCondion').val();
                    let dtStart = $('#dtStart').val();
                    let dtEnd = $('#dtEnd').val();

                    const queryParams = [
                        'JobNum=' + encodeURIComponent(jobNum),  
                        'Jobtype=' + encodeURIComponent(jobtype),
                        'EmpCode=' + encodeURIComponent(empCode),
                        'BillCondion=' + encodeURIComponent(billCondion),
                        'DtStart=' + encodeURIComponent(dtStart),
                        'DtEnd=' + encodeURIComponent(dtEnd)
                    ].join('&');

                    const url = '@Url.Action("BillJobReportExcel", "Home")' + '?' + queryParams;

                    try {
                        const response = await fetch(url);
                        if (!response.ok){
                            showWarning('ไม่พบข้อมูล','คำเตือน');
                            return;
                        }

                        const blob = await response.blob();
                        const downloadUrl = window.URL.createObjectURL(blob);

                        const a = document.createElement('a');
                        a.href = downloadUrl;
                        a.download = "BillJobReport.xlsx";
                        document.body.appendChild(a);
                        a.click();
                        a.remove();

                        window.URL.revokeObjectURL(downloadUrl);
                    } catch (err) {
                        showError(err.message, 'เกิดข้อผิดพลาด');
                    } finally {
                        $('#loadingIndicator').hide();
                    }
                })();
            });
        });

        $('#btnPrintPDF').on('click', function () {
            $('#loadingIndicator').show();

            (async function () {

                let ddlVal = $('#ddlJobGroup').val();
                if (ddlVal) {
                    let jobData = JSON.parse(ddlVal);
                    jobNum = jobData.jobNum;
                    jobtype = jobData.jobtype;
                }

                let empCode = $('#ddlEmp').val();
                let billCondion = $('#ddlBillCondion').val();
                let dtStart = $('#dtStart').val();
                let dtEnd = $('#dtEnd').val();

                const queryParams = [
                    'JobNum=' + encodeURIComponent(jobNum),  
                    'Jobtype=' + encodeURIComponent(jobtype),
                    'EmpCode=' + encodeURIComponent(empCode),
                    'BillCondion=' + encodeURIComponent(billCondion),
                    'DtStart=' + encodeURIComponent(dtStart),
                    'DtEnd=' + encodeURIComponent(dtEnd)
                ].join('&');

                const url = '@Url.Action("BillJobReportPDF", "Home")' + '?' + queryParams;

                try {
                    const printWindow = window.open(url, '_blank');

                    printWindow.onload = function() {
                        // setTimeout(function() {
                        //     printWindow.print();
                        //     //printWindow.close();
                        // }, 1000);
                    };
                } catch (err) {
                    showError(err.message, 'เกิดข้อผิดพลาด');
                } finally {
                    $('#loadingIndicator').hide();
                }
            })();
        });


        function getTempProfile(){
            let ddlVal = $('#ddlJobGroup').val();
            if (ddlVal) {
                let jobData = JSON.parse(ddlVal);
                jobNum = jobData.jobNum;
                jobtype = jobData.jobtype;
            }
            else
            {
                return;
            }

            $.ajax({
                url: '@Url.Action("TempProfile", "Home")',
                type: 'GET',
                data: { JobNum: jobNum },
                success: function (data) {
                    var $ddlEmp = $('#ddlEmp');
                    $ddlEmp.empty();
                    $ddlEmp.append($('<option>', { value: '', text: '-- เลือก ช่าง --' }));
                    $.each(data, function (i, item) {
                        $ddlEmp.append($('<option>', { value: item.empCode, text: '(' + item.empCode + ') ' + item.titleName + ' ' + item.name }));
                    });
                    $ddlEmp.prop('disabled', false);
                },
                error: function () {
                    showError(err.message, 'เกิดข้อผิดพลาดในการดึงข้อมูลช่าง');
                }
            });
        }

        function searchBillJob(page, pageSize) {
            if ($('#ddlJobGroup').val()) {
                let jobData = JSON.parse($('#ddlJobGroup').val());
                jobNum = jobData.jobNum;
                jobtype = jobData.jobtype;
            }

            let empCode = $('#ddlEmp').val();
            let billCondion = $('#ddlBillCondion').val();
            let dtStart = $('#dtStart').val();
            let dtEnd = $('#dtEnd').val();

            $('#loadingIndicator').show();
            $('#billjob-list').hide();
            $('#pagination-container').hide();

            $.ajax({
                url: '@Url.Action("BillJobDetail", "Home")',
                type: 'GET',
                data: {
                    JobNum: jobNum,
                    Jobtype: jobtype,
                    EmpCode: empCode,
                    BillCondion: billCondion,
                    DtStart: dtStart,
                    DtEnd: dtEnd,
                    Page: page,
                    PageSize: pageSize
                },
                success: function (response) {
                    if (response.success) {
                        $('#billjob-list').html(response.html);
                        $('#pagination-container').html(response.pagination);
                        currentPage = response.currentPage;
                        $('#billjob-list').show();
                        $('#pagination-container').show();
                     }
                },
                error: function () {
                     showError(err.message, 'เกิดข้อผิดพลาดในการค้นหาบิล');
                },
                complete: function() {
                     $('#loadingIndicator').hide();
                }
            });
        }

        function clearSearch() {
            jobNum = 0;
            jobtype = 0;
            $('#searchForm')[0].reset();
            $('#dtStart').val(formattedToday);
            $('#dtEnd').val(formattedToday);
            $('#ddlJobGroup').val('0').trigger('change');
            $('#ddlBillCondion').val('0').trigger('change');
            $('#ddlEmp').empty().append($('<option>', { value: '', text: '-- เลือก ช่าง --' })).prop('disabled', true);
            $('#tblBillJob tbody').empty().append(
                $('<tr>').append(
                    $('<td colspan="100%" class="text-center text-muted">').text('ไม่พบข้อมูล')
                )
            );
            $('#pagination-container').hide();
        }
    </script>
}